@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-image: linear-gradient(169deg, #fffff1 0%, #ffd16b 104% 104%);
  background-image: linear-gradient(
    169deg in oklab,
    oklch(100% 0.02 109) 0%,
    oklch(88% 0.13 85) 104% 104%
  );
}
body {
  color: rgb(var(--foreground-rgb));
}

a {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}
