@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(347deg, #ff29004f 4% 4%, #fffff8 126% 126%);
  background-image: 
    linear-gradient(
      347deg in oklab, 
      oklch(71% 0.37 65 / 31%) 4% 4%, oklch(100% 0.01 105) 126% 126%
    );

  height: 100vh;
  height: 100dvh;
}
