@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

.file-title {
  margin-bottom: -3px !important;
  width: fit-content;

  @apply font-mono;
  @apply text-xs;
  @apply px-4;
  @apply py-2;
  @apply rounded-t-md;

  @apply text-slate-300;
  background-color: #1b1e28;
}

/* If the immediate sibling to the .file-title element is a <pre> tag. Then remove it's top margin */
.file-title + pre {
  margin-top: 0;
}

img.full-width {
  width: 100vw;
  max-width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.blog-article img {
  @apply shadow-md;
}
